body{
    justify-items: center;

}

h1{
    font-size: 50px;
    color: blueviolet;

    
}

#calculater{
    border: 5px solid rgb(153, 79, 226);
    border-radius: 15px;
    margin-top: 10px;
    width: 370px;
    margin-bottom: 10px;
}

#display{
   margin: 15px;
   width: 90%;
   height: 80px;
   font-size: 30px;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   color: blueviolet;
}

.btn-container{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.btn{
    width: 60px;
    height: 60px;
    margin: 3px;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(163, 84, 236);
    color: aliceblue;
    font-size: 20px;
    padding: 20px;
    border: blueviolet;
    border-radius: 10px;
}

.enter{
    height: 61px;
    width: 270px;
    margin: 10px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 50px;
    padding-bottom: 50px;
    border: blueviolet;
    border-radius: 8px;

}